.dockerignore
/.nuxt
/.output
/docs
/test
/node_modules
/playwright
.gitignore
README.md
CHANGELOG.md
CHANGELOG-RC.md
docker-compose.yml
vitest.config.ts
.prettierrc
.prettierrc.cjs
.prettierignore
.eslintrc.js
.eslintignore
.gitignore
.dockerignore
.nvmrc
