# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

#https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=false

# https://github.com/nuxt/nuxt/issues/14146#issuecomment-1467427901
public-hoist-pattern[]=*
# Alternative approach
# https://github.com/nuxt/nuxt/issues/14146#issuecomment-1475894768

package-import-method=clone-or-copy
node-linker=hoisted 